/* Fonts */
/* cuprum-regular - latin */
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cuprum-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Cuprum Regular'), local('Cuprum-Regular'),
         url('../fonts/cuprum-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cuprum-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cuprum-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cuprum-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cuprum-v12-latin-regular.svg#Cuprum') format('svg'); /* Legacy iOS */
    font-display: swap;
  }
  /* cuprum-italic - latin */
  @font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/cuprum-v12-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Cuprum Italic'), local('Cuprum-Italic'),
         url('../fonts/cuprum-v12-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cuprum-v12-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cuprum-v12-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cuprum-v12-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cuprum-v12-latin-italic.svg#Cuprum') format('svg'); /* Legacy iOS */
    font-display: swap;
  }
  /* cuprum-700 - latin */
  @font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/cuprum-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Cuprum Bold'), local('Cuprum-Bold'),
         url('../fonts/cuprum-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cuprum-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cuprum-v12-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cuprum-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cuprum-v12-latin-700.svg#Cuprum') format('svg'); /* Legacy iOS */
    font-display: swap;
  }
